.login-container {
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

  }
  
  .Login-Form {
    display: flex;
    flex-direction: column;
  }
  
  .Login-Label {
    margin-top: 10px;
  }
  
  .Login-Input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .Login-Button {
    margin-top: 10px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Login-Button:hover {
    background-color: #0056b3;
  }
  
  .login-heading {
    font-size: 24px;
    font-weight: bold;
     /* Add margin at the bottom to increase distance */
  }
  
  .Login-Label {
    margin-top: 35px; /* Increase the top margin of the label */
  }
  
  /* body {
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  } */
  
  .login-container {
    font-family: "Arial", sans-serif;
    width: 300px;
    padding:20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 1000px;
    opacity: 0.7;
    align-content: center;
  
    .checkbox-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }}
    
    
    .remember-forgot-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    
    .remember-label {
      font-family: Arial, sans-serif; 
    }
    .create-account-link {
      font-size: 15px; 
      display: block;
      margin-top: 10px; 
    }
  
  
    .image-container {
     
      justify-content: center;
     
      margin-top: 0%;
      padding-top: 0%;
    }
    
    .login-image {
      height: 850px;
      width: 850px;
      margin-left: 700px;
      opacity: 5;
    }
  
    .h2{
      font-weight: bold;
      font-size: 15px;
    }
    
    .forgot-password-link a {
      color: red; 
    }
    