.registration-container {
    font-family: "Arial", sans-serif;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0.6;
    margin-right: 850px;
  }
  
  .Register-heading {
    font-weight: bold;
    font-size: 40px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  .label-container {
    margin-bottom: 5px;
  }
  
  .Register-Label {
    font-weight: bold;
  }
  
  .Register-Input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 0px;
  
  }
  
  .Register-Button {
    margin-top: 10px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Register-Input button:hover {
    background-color: #0056b3;
  }
  .terms-label {
    font-size: 7px; 
  }
  .input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust the width as needed */
    height: 50px;
  }
  .terms-container {
    margin-top: 10px; /* Add the desired top margin */
  }
  .home-icon {
    border: 2px solid red; /* Set the border to red */
   
    padding: 0px; /* Add padding to create space inside the icon */
  }
  .input-container {
    margin-bottom: 40px; /* Add space between input containers */
  }
  
  .input-container label {
    margin-bottom: 5px; /* Add space between label and input */
  }